node_modules/
.env
.env.local
.env*.local
npm-debug.log*
yarn-debug.log*
/pids
*.pid
*.seed
*.log
.expo/
dist/
web-build/
expo-env.d.ts
/ios
/android
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
*.tsbuildinfo
.DS_Store
.vscode/
Thumbs.db